* {
  margin: 0;
  padding: 0;
  --border-color: rgb(77, 77, 255);
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

/* Text decorations */
a {
  text-decoration: none;
  color: black;
  transition-duration: 0.5s;
}

a:hover {
  background-color: rgb(96, 255, 157);
  margin: 0.25rem;
}

p {
  padding: 0.5rem 0;
}

/* Page structure */
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgb(122, 248, 106),
    rgb(80, 80, 165)
  );
}

main {
  background-color: #eeeeee;
  width: 850px;
  max-width: 95%;
  margin: 2rem;
  height: 900px;
  display: flex;
  flex-direction: column;
}

.page-header {
  padding: 1rem;
  border: 0.5rem solid var(--border-color);
  text-align: center;
  font-style: italic;
  font-size: xx-large;
  font-weight: bold;
}

/* Main page */
.page-body {
  display: flex;
  overflow: auto;
  height: 880px;
}

.page-content {
  padding: 1rem;
  border: 0.5rem solid var(--border-color);
  overflow: auto;
  width: 100rem;
}

/* Navbar */
aside {
  border: 0.5rem solid var(--border-color);
  padding: 0 1rem;
  width: 30rem;
}

@media screen and (max-width: 600px) {
  aside {
    display: none;
  }
}

.aside-header {
  font-size: large;
  font-style: italic;
  text-align: center;
  font-weight: bold;

  p {
    padding: 0.5rem;
  }
}

ul {
  list-style: none;
}

.section {
  list-style: none;
  padding: 1rem;
  border: 0.25rem solid red;
  margin-bottom: 1rem;
}

.section-header {
  font-weight: bold;
}
