:root {
  --primary-bg-color: rgb(31, 31, 31);
  --primary-color: rgb(53, 119, 50);
  --celadon: #bcd8c1;
  --vanilla: #d6dbb2;
  --gold: #e3d985;
  --tangerine: #e57a44;
  --violet: #422040;
}

* {
  margin: 0;
}

html {
  background-color: var(--primary-bg-color);
}

body {
  width: clamp(48rem, 75%, 64rem);
  margin: auto;
}

header {
  text-align: center;
  background: linear-gradient(to right, var(--tangerine), var(--gold));
  padding: 0.5rem;
  text-align: left;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
}

.content-section {
  display: grid;
  gap: 0.5rem;
}

.nav,
.content {
  background-color: var(--vanilla);
  border: 4px solid var(--tangerine);
}

.content {
  padding: 0.5rem 2rem;
}

.nav {
  display: grid;
  max-height: 12rem;

  button {
    width: 100%;
    height: 100%;
    background-color: var(--vanilla);
    border: 2px solid var(--violet);
  }

  button:hover {
    background-color: var(--gold);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s background-color;
  }
}
